<!--SDPX-License-Identifier: MIT-->
<!--SDPX-FileCopyrightText: 2022 Sarah Julia Kriesch <sarah.j.kriesch@fau.de>-->
<!--SDPX-FileCopyrightText: 2022 Michael Kupfer <michael.kupfer@fau.de>-->

<!DOCTYPE html>
<html>
    <head>
        <title>OIDC Doctor - Discovery</title>
        <link rel="icon" href="/images/logo-amos.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
           .bd-highlight {
              background-color: rgba(86,61,124,0.15);
           }
           img {
             max-width: 10%;
             height: auto;
             object-fit: cover;
           }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>

        <main>
            <div class="container">
                <center>
                    <img class="mx-auto d-block mt-2" src="/images/logo-amos.png" alt="Image"  width="200" height="180">
                </center>
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <span class="btn btn-outline-secondary me-2">Back</span>
                    </a>

                    <a href="/api/protocol/logger" class="nav col-12 col-md-auto mb-2 mb-md-0 text-decoration-none">
                        <span class="btn btn-outline-secondary me-2">Protocol</span>
                    </a>

                    {{#if previous.issuer}}
                    <a class="col-md-3 text-end" href="/api/flows/index?issuer_s={{previous.issuer}}">
                        <span class="btn btn-outline-secondary me-2">Test Authentication</span>
                    </a>
                    {{else}}
                    <a class="col-md-3 text-end" >
                        <span class="btn btn-outline-secondary me-2 disabled">Test Authentication</span>
                    </a>
                    {{/if}}
                </header>
            </div>
            <div class="container py-3 mb-4 border-bottom">
                <div class="row mb-2">
                    <div class="col-2">
                        <button class="btn btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#advancedSettings" aria-expanded="false" aria-controls="advancedSettings">
                            Advanced Settings
                        </button>        
                    </div>
                </div>
                <div class="row">
                    <div class="collapse flex-wrap align-items-center w-100" id="advancedSettings">
                        <form id="issuer_form" action="/api/discovery/issuer" method="post">
                            <input type="text" id="issuer_url" name="issuer_url" class="url" value="{{previous.issuer}}" hidden>
                            <div class="card card-body d-flex flex-column align-content-start w-100">
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>
                                <div class="modal fade bg-secondary" tabindex="-1" role="dialog" id="filterModal" aria-labelledby="filterModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content rounded-4 shadow">
                                            <div class="modal-header border-bottom-0">
                                                <h5 class="modal-title">Select filters</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body py-0 justify-content-center">
                                                <div class="d-flex flex-column">
                                                    <p>Select the fields you want to see</p>
                                                    <div class="btn-group-vertical w-90" role="group" aria-label="Filter checkboxes">
                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="authorization_endpoint_checkbox" name="authorization_endpoint" value="1" {{#if previous.checked.authorization_endpoint}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="authorization_endpoint_checkbox"> authorization_endpoint </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="claim_types_supported_checkbox" name="claim_types_supported" value="1" {{#if previous.checked.claim_types_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="claim_types_supported_checkbox"> claim_types_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="claims_parameter_supported_checkbox" name="claims_parameter_supported" value="1" {{#if previous.checked.claims_parameter_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="claims_parameter_supported_checkbox"> claims_parameter_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="claims_supported_checkbox" name="claims_supported" value="1" {{#if previous.checked.claims_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="claims_supported_checkbox"> claims_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="code_challenge_methods_supported_checkbox" name="code_challenge_methods_supported" value="1" {{#if previous.checked.code_challenge_methods_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="code_challenge_methods_supported_checkbox"> code_challenge_methods_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="device_authorization_endpoint_checkbox" name="device_authorization_endpoint" value="1" {{#if previous.checked.device_authorization_endpoint}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="device_authorization_endpoint_checkbox"> device_authorization_endpoint </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="grant_types_supported_checkbox" name="grant_types_supported" value="1" {{#if previous.checked.grant_types_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="grant_types_supported_checkbox"> grant_types_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="id_token_signing_alg_values_supported_checkbox" name="id_token_signing_alg_values_supported" value="1" {{#if previous.checked.id_token_signing_alg_values_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="id_token_signing_alg_values_supported_checkbox"> id_token_signing_alg_values_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="issuer_checkbox" name="issuer" value="1" {{#if previous.checked.issuer}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="issuer_checkbox"> issuer </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="jwks_uri_checkbox" name="jwks_uri" value="1" {{#if previous.checked.jwks_uri}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="jwks_uri_checkbox"> jwks_uri </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="request_parameter_supported_checkbox" name="request_parameter_supported" value="1" {{#if previous.checked.request_parameter_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="request_parameter_supported_checkbox"> request_parameter_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="request_uri_parameter_supported_checkbox" name="request_uri_parameter_supported" value="1" {{#if previous.checked.request_uri_parameter_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="request_uri_parameter_supported_checkbox"> request_uri_parameter_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="require_request_uri_registration_checkbox" name="require_request_uri_registration" value="1" {{#if previous.checked.require_request_uri_registration}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="require_request_uri_registration_checkbox"> require_request_uri_registration </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="response_modes_supported_checkbox" name="response_modes_supported" value="1" {{#if previous.checked.response_modes_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="response_modes_supported_checkbox"> response_modes_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="response_types_supported_checkbox" name="response_types_supported" value="1" {{#if previous.checked.response_types_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="response_types_supported_checkbox"> response_types_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="revocation_endpoint_checkbox" name="revocation_endpoint" value="1" {{#if previous.checked.revocation_endpoint}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="revocation_endpoint_checkbox"> revocation_endpoint </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="revocation_endpoint_auth_methods_supported_checkbox" name="revocation_endpoint_auth_methods_supported" value="1" {{#if previous.checked.revocation_endpoint_auth_methods_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="revocation_endpoint_auth_methods_supported_checkbox"> revocation_endpoint_auth_methods_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="scopes_supported_checkbox" name="scopes_supported" value="1" {{#if previous.checked.scopes_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="scopes_supported_checkbox"> scopes_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="subject_types_supported_checkbox" name="subject_types_supported" value="1" {{#if previous.checked.subject_types_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="subject_types_supported_checkbox"> subject_types_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="token_endpoint_checkbox" name="token_endpoint" value="1" {{#if previous.checked.token_endpoint}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="token_endpoint_checkbox"> token_endpoint </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="token_endpoint_auth_methods_supported_checkbox" name="token_endpoint_auth_methods_supported" value="1" {{#if previous.checked.token_endpoint_auth_methods_supported}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="token_endpoint_auth_methods_supported_checkbox"> token_endpoint_auth_methods_supported </label>

                                                        <input type="checkbox" class="btn-check" autocomplete="off" id="userinfo_endpoint_checkbox" name="userinfo_endpoint" value="1" {{#if previous.checked.userinfo_endpoint}} checked{{/if}}>
                                                        <label class="btn btn-outline-secondary" for="userinfo_endpoint_checkbox"> userinfo_endpoint </label>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row mt-2">
                                                    <button type="button" id="btn_disableAll" class="btn btn-light w-50 mx-2">Disable All</button><br><br>
                                                    <button type="button" id="btn_enableAll" class="btn btn-light w-50 mx-2">Enable All</button>
                                                </div>
                                            </div>
                                            <div class="modal-footer flex-column border-top-0">
                                                <button type="submit" class="btn btn-lg btn-outline-secondary w-100 mx-0 mb-2">Apply filters</button>
                                                <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body container d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                                {{#if previous.schemas}}
                                <label class="w-50" for="schema_selector"> Select validation schema: </label>
                    {{#if previous.validated_against_schema}}
                    <div class="card text-white bg-{{#if result.schema_validation_success}}success{{else}}danger{{/if}} mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            {{#if result.schema_validation_success}}
                            Schema matched
                            {{else}}
                            Schema didn't match
                            {{/if}}
                        </div>
                    {{/if}}
                    <select class="form-select w-{{#if previous.validated_against_schema}}100{{else}}25 mx-4{{/if}}" aria-label="Validation schema select" name="schema" id="schema_selector">
                                    {{#each previous.schemas as |schema|}}
                                    <option value="{{ schema }}">{{ schema }}</option>
                                    {{/each}}
                                </select>
                                {{#if previous.validated_against_schema}}
                                </div>
                                {{/if}}
                                <button type="submit" id="apply_schema_btn" class="btn btn-lg btn-outline-secondary w-25 mx-0 mb-2">Apply schema</button>
                                {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        {{#if result.success}}
                        <button id="toggleButton" type="button" class="btn btn-outline-secondary mt-2 w-100" data-bs-toggle="collapse" data-bs-target="#resultContainer" aria-expanded="true" aria-controls="resultContainer" onclick="toggleSuccessButtonText()">
                            Hide Result
                        </button>
                        {{else}}
                        <button id="toggleButton" type="button" class="btn btn-danger mt-2 w-100" data-bs-toggle="collapse" data-bs-target="#resultContainer" aria-expanded="true" aria-controls="resultContainer" onclick="toggleErrorButtonText()">
                            Hide Result
                        </button>
                        {{/if}}
                    </div>
                </div>
                
                <div class="collapse show mt-2" id="resultContainer">
                    <div class="row mb-2">
                        <div class="col-2">
                            <button class="btn btn-outline-secondary w-100" onclick="download('discovery.txt', $('#resultText').text())">Download</button>
                        </div>    
                        <div class="col-2">
                            <button class="btn btn-outline-secondary w-100" onclick="clipboard($('#resultText').text())">Copy results</button>        
                        </div>
                    </div>
                    <div class="row">
                        <div class="card card-body" id="resultText">
                            <pre>
                                {{{result.html_result}}}
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            function setAll(b) {
                let checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = b;
                });
            }
            function enableAll() {
                setAll(true);
            }
            function disableAll() {
                setAll(false);
            }
            const btn_enable = document.querySelector('#btn_enableAll');
            btn_enable.onclick = enableAll;
            const btn_disable = document.querySelector('#btn_disableAll');
            btn_disable.onclick = disableAll;
            function download(filename, text) {
                var tmp_element = document.createElement('a');
                tmp_element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                tmp_element.setAttribute('download', filename);
                tmp_element.style.display = 'none';
                document.body.appendChild(tmp_element);
                tmp_element.click();
                document.body.removeChild(tmp_element);
            }
            function clipboard(text) {
                navigator.clipboard.writeText(text);
            }
        </script>
        <script
              src="https://code.jquery.com/jquery-3.6.0.js"
              integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
              crossorigin="anonymous"></script>

        <script>
            $(document).ready(function(){
                var $upload_schema_submit = $('#upload_schema_submit');
                $upload_schema_submit.on('click', function(e){
                    e.preventDefault();
                    var $upload_schema = $('#upload_schema');
                    $.ajax({
                        url: $upload_schema.attr('action'),
                        type: 'POST',
                        data: new FormData(document.querySelector('#upload_schema')),
                        success: function(response){
                                $('#issuer_form').trigger('submit');
                            },
                        mimeType: "multipart/form-data",
                        contentType: false,
                        cache: false,
                        processData: false
                    });
                });
                var $delete_schema_btn = $('#delete_schema_btn');
                $delete_schema_btn.on('click', function(e) {
                    e.preventDefault();
                    var $delete_schema_form = $('#delete_schema_form');
                    $.get($delete_schema_form.attr('action') + '?schema=' + $('#schema_delete_selector').val(), function response() {
                        $('#issuer_form').trigger('submit');
                    });
                });
            });

            function changeButtonText(shown) {
                var buttonElement = document.getElementById('toggleButton');

                if (shown === true) {
                    buttonElement.textContent = 'Hide Results';
                } else {
                    buttonElement.textContent = 'Show Results';
                }
            }

            $('#resultContainer').on('hidden.bs.collapse', function() {
                changeButtonText(false);
            });

            $('#resultContainer').on('shown.bs.collapse', function() {
                changeButtonText(true);
            });

            function callTestOverview() {
                let discoveryContent = document.getElementById('resultText').firstElementChild().innerText;

                const params = {
                    discoveryResult: discoveryContent,
                }

                let xhttp = new XMLHttpRequest();
                xhttp.open('POST','/api/flows/index');
                xhttp.setRequestHeader('Content-Type', 'application/json')
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 201) {
                        let responseJson = JSON.parse(this.responseText);

                        let headerResponse = responseJson[0];
                        let payloadResponse = responseJson[1];

                        document.getElementById('header-output').style.display = 'none';
                        document.getElementById('payload-output').style.display = 'none';

                        document.getElementById('filtered-header-output').innerText = headerResponse;
                        document.getElementById('filtered-header-output').style.display = 'block';
                        document.getElementById('filtered-payload-output').innerText = payloadResponse;
                        document.getElementById('filtered-payload-output').style.display = 'block';
                    }
                };
                body = JSON.stringify(params)
                xhttp.send(body);
            }
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
